.card {
  position: absolute;
  overflow: hidden;
  width: 400px;
  height: 349px;
  background:
    url("/src/assets/ad_card_bg.png") -173px -28px / 151% repeat-x,
    linear-gradient(#101010, #0f0f0f);
  border-radius: 0;
  box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.45);
  right: 0;
  top: calc(100vh - 349px)
}
.container {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  min-width: 394px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cardContent {
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: auto;
}
.cardText {
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.cardLink {
  color: #fff;
  font-size: 16px;
  background: rgba(255, 255, 255, 10%);
  padding: 12px 28px;
  letter-spacing: 0.3px;
  cursor: pointer;
  border-radius: 14px;
}
.cardLinkExplanation {
  display: none;
}
.cardtitle {
  color: #fff;
  line-height: 1.1;
  font-size: 46px;
  margin-bottom: 10px;
  letter-spacing: -0.4px;
}
.cardOffer {
  letter-spacing: -2px;
  font-size: 40px;
  background: -webkit-linear-gradient(45deg, #7d5317, #eddf95);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgba(210, 152, 26, 60%);
  margin-bottom: 4px;
  font-weight: bold;
}
.cardHow {
  color: #6c6c70;
  margin-bottom: 44px;
}
.cardCode {
  color: #d7a830;
  text-transform: uppercase;
  padding: 0 6px;
  font-weight: 500;
}
.cardClose {
  position: absolute;
  top: 10px;
  right: 14px;
}

.preanimation {
  visibility: hidden;
  transform: translateX(600px);
}
.loadAnimation {
  visibility: visible;
  animation:
    fadeIn 2.1s,
    moveIn 1s;
  transition: 0.4s ease-in;
  transform: translateX(0);
}

@container (inline-size > 394px) {
  .card {
    right: -150px;
    overflow: hidden;
    width: 600px;
    background:
      url("/src/assets/ad_card_bg.png") -173px -28px / 120% repeat-x,
      linear-gradient(#101010, #0f0f0f);
  }
  .cardContent {
    align-items: flex-start;
  }
  .cardLink {
    border-radius: 8px;
  }
  .cardLinkExplanation {
    display: inline;
  }
}

@container (inline-size > 450px) {
  .card {
    right: -100px;
  }
}
@container (inline-size > 510px) {
  .card {
    right: -50px;
  }
}
@container (inline-size > 550px) {
  .card {
    right: -20px;
  }
}

@container (inline-size >= 600px) {
  .card {
    right: 0;
    width: 600px;
    border-radius: 16px;
    background:
      url("/src/assets/ad_card_bg.png") 0 60% / cover repeat-x,
      linear-gradient(#101010, #0f0f0f);
  }
  .cardContent {
    margin-right: 24px;
  }
  .container {
    justify-content: flex-end;
  }
}

.fixed {
  position: sticky;
  margin-left: auto;
  right: 0;
  bottom: 0px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
