/* 
    834
    393 
*/
@custom-media --desktop (min-width: 835px);
@custom-media --tablet (min-width: 394px);
.container {
  width: 100%;
  height: 100%;
  min-width: 393px;
  margin: 0 auto;
  padding: 0;
}
.nav {
    height: 54px;
}
.close {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 10px;
}
.closeIcon {

}
.main {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.rowBanner {
    height: 54px;
    background: -36px / contain no-repeat url('/src/assets/header_ad_max.png'), #000;
    min-width: 394px;
    overflow: hidden;
    display: flex;
    position: relative;
}
.rowBannerContent {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-left: 20px;
}
.rowBannerDivider {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}
.adTextBlock {
    display: flex;
    height: 100%;
    margin: 0;
    margin-block: 0;
}
.rowBannerTitle {
    color: #fff;
    margin: 0 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}
.rowBannerComa {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.rowBannerDates {
    display: none;
    color: #fff;
    margin-left: 2px;
    font-weight: normal;
}
.rowBannerText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1px;
    color: #D7A830;
    font-size: 16px;
    font-weight: bold;
    padding-right: 10px;
}
.rowBannerOffer {
    margin: 0;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    display: none;
}
.offerAdditionalInfo {
    display: none;
}
.rowBannerAction {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.rowBannerClose {
    display: none;
    margin-left: 10px;
}
.shopNow {
    padding: 6px 20px;
    border-radius: 18px;
    background: #fff;
    cursor: pointer;
}
.shopNowText {
   font-weight: 500;
   background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.5), #0B0B0B 66%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.AdButton {
    background: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}
.arrow {
    transform: translate(2px, 4px);
}

.card {
    position: absolute;
    overflow: hidden;
    top: 342px;
    width: 600px;
    height: 349px;
    background: #000;
    background: url('/src/assets/ad_card_bg.png') 0 60% / cover no-repeat;
    border-radius: 16px;
    box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.45);
    right: -35px;
}
.cardContent {
    padding: 64px 100px 0 0;
    align-items: flex-end;
    flex-direction: column;
    display: flex;
}
.cardAction {
    margin-right: 68px;
}
.cardText {
    margin-bottom: 4px;
    padding-right: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.cardLink {
    color: #fff;
    font-size: 16px;
    background: rgba(255,255,255,10%);
    padding: 12px 28px;
    letter-spacing: .3px;
    cursor: pointer;
    border-radius: 14px;
}
.cardtitle {
    color: #fff;
    line-height: 1.1;
    font-size: 46px;
    margin-bottom: 10px;
    letter-spacing: -.4px;
}
.cardOffer {
    letter-spacing: -2px;
    font-size: 40px;
    background: -webkit-linear-gradient(45deg, #7D5317, #EDDF95);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(210,152,26, 60%);
    margin-bottom: 4px;
    font-weight: bold;
}
.cardHow {
    color: #6C6C70;
    margin-bottom: 44px;
}
.cardCode {
    color: #D7A830;
    text-transform: uppercase;
    padding: 0 6px;
}
.cardClose {
    position: absolute;
    top: 10px;
    right: 49px;
}

@media (--tablet) {
    .nav {
        visibility: hidden;
    }
    .card {
        top: 459px;
        right: 10px;
    }
    .cardClose {
        right: 10px;
    }
    .cardContent {
        padding: 64px 22px 0;
    }
    .cardLink {
        border-radius: 8px;
    }
    .cardAction {
        margin: 0;
    }
    .rowBanner { 
        background: -28px / contain no-repeat url('/src/assets/header_ad_max.png'), #000;
    }
    .rowBannerContent {
        margin-left: 60px;
        justify-content: center;
    }
    .rowBannerAction { 
        margin-right: 25px;
    }
    .rowBannerText {
        padding: 0 10px;
    }
}

@media (min-width: 620px) {
    .card {
        right: 17px;
    }
}
@media (min-width: 650px) {
    .card {
        top: 559px;
    }
    .rowBannerContent {
        margin-left: 135px;
    }
    .rowBannerText {
        padding: 0;
    }
    .rowBannerDivider {
        display: flex;
    }
    .rowBannerOffer {
        display: flex;
    }
}
@media (--desktop) {
    .rowBanner {
        background: 10px / contain no-repeat url('/src/assets/header_ad_max.png'), #000;
    }
    .card {
        right: 34px;
    }
    .rowBannerDates {
        display: inline;
    }
    .offerAdditionalInfo {
        display: inline;
    }
}
@media (min-width: 900px) {
    .rowBannerContent {
        margin-left: 170px;
    }
    .rowBannerAction { 
        margin-right: 20px;
    }
    .rowBannerClose {
        display: block;
    }
}